.singleItem {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border-bottom: 1px solid lightgray;
}

.App{
  padding: 0 2rem;
  margin: 3rem auto;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .singleItem{
    display: block;
    text-align: center;
  }
}
